@import '../utilities/color';
@import '../utilities/variables';

.main-content {
  overflow: auto;
}

.main-section {
  height: 350px;
  margin-bottom: 200px;
  background: {
    image: url('../images/vizapol.png');
    repeat: no-repeat;
    position: center;
    size: cover;
    //color: #1a2b6d;
  }

  .container, .row, .col {
    height: 100%;
  }

  .col {
    position: relative;
  }
}

.main-section-block {
  position: absolute;
  right: 5%;
  bottom: -100px;
  width: 90%;

  .inner-block {
    background-color: #1a2b6d;
    color: #fff;
    padding: 42px 20px 110px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.23);

    h1 {
      margin: 0 0 20px;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      position: relative;
      margin: 0;
    }
    //margin-bottom: 20px;
  }

  .btn {
    //float: left;
    //margin-right: 20px;
    //margin-top: 40px;
    position: absolute;
    z-index: 2;

    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

//---------------------------------------------
.how-take {
  position: relative;
  padding: 60px 16px;

  h2 {
    color: #fff;
    margin: 0 0 60px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1a2b6d;
    height: 350px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .col-flex {
    margin-bottom: 30px;
  }

  .block-step {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    color: #1a2b6d;
    box-shadow: 1px 1px 1px 1px rgba(#000, .2);
    border-radius: 8px;

    .badge {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: white;
      width: 70px;
      height: 70px;
      transform: translate(-30%, -30%);
      line-height: 70px;
      text-align: center;
      font-size: 17px;
      font-weight: 700;
      box-shadow: 0 2px 7px 4px rgba(0, 0, 0, 0.2);
      color: #1a2b6d;
    }

    .btn {
      padding: 0 30px;
      font-weight: 600;
      font-size: 19px;
      line-height: 54px;
      border-width: 2px;
      text-transform: uppercase;
    }
  }
}

//---------------------------------------------
.what-need {
  position: relative;
  padding: 60px 16px;
  text-align: center;
  overflow: hidden;

  h2 {
    color: #fff;
    margin: 0 0 30px;
  }

  .description {
    color: #fff;
    font-size: 18px;
    margin: 0 0 60px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1a2b6d;
    height: 350px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .col-flex {
    margin-bottom: 30px;
  }

  .block-step {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    color: #1a2b6d;
    box-shadow: 1px 1px 1px 1px rgba(#000, .2);
    border-radius: 8px;

    h3 {
      margin-bottom: 40px;
    }

    .badge {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: white;
      width: 50px;
      height: 50px;
      transform: translate(-30%, -30%);
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }

  .img-wrap {
    position: relative;
    //background-color: #fff;
    //padding: 20px;
    //box-shadow: 1px 1px 1px 1px rgba(#000, .2);

    img {
      width: 100%;
    }

  }
  .btn-block {
    display: inline-block;
    position: relative;
    padding-top: 40px;
  }
  .arrow {
    width: 100px;
    height: 100px;
    background: {
      image: url('../images/arrow.svg');
      repeat: no-repeat;
      position: center;
      size: contain;
    }
    position: absolute;
    bottom: 10px;
    left: 100%;
    margin-left: 40px;
  }
}

//---------------------------------------------
.why-we {
  margin-bottom: 100px;

  h2 {
    margin: 0 0 60px;
  }
  .col {
    margin-bottom: 30px;
  }
  .block {
    text-align: center;
    box-shadow: 0 1px 1px 1px rgba(#000, .2);
    height: 100%;
    background-color: #fff;
    padding: 40px 20px 60px;
    border-radius: 8px;

    h3 {
      font-weight: 400;
    }
  }
}

//---------------------------------------------
.price {
  position: relative;
  padding: 60px 16px;

  h2 {
    color: #fff;
    margin: 0 0 60px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1a2b6d;
    height: 350px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .col {
    margin-bottom: 30px;
  }

  .block {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    color: #1a2b6d;
    box-shadow: 1px 1px 1px 1px rgba(#000, .2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0 0 20px;
    }

    p {
      font-size: 18px;
    }

    table {
      width: 100%;
      margin: 40px 0 40px;
      th {
        text-align: left;
      }

      td, th {
        padding: 5px;
      }
    }

    ul {
      list-style: decimal;
      //padding: initial;
      padding-left: 1em;
      flex-grow: 1;

      li + li {
        margin-top: 8px;
      }
    }

    .btn {
      margin: 0 auto;
      padding: 20px 40px;
    }
  }
}

//---------------------------------------------------------
.main-footer {
  margin-top: 200px;
  background-color: #fff;

  .footer-form {
    background-color: #1a2b6d;
    box-shadow: 0 1px 1px 1px rgba(#000, .2);

    position: relative;
    color: #fff;
    top: -150px;
    padding: 40px 40px 60px;
    border-radius: 8px;
  }

  .footer-inner {
    padding: 40px 0;

    h2 {
      margin: 0 0 20px;

    }

    p {
      font-size: 18px;
    }
  }

  .copyright {
    margin: 20px 0 0;
    text-align: center;
  }

  .form-section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input {
      max-width: 300px;
      margin: 10px 0;
    }

    .btn {
      margin: 10px 10px;
    }
  }
}

.success-wrap {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 16px;
  align-items: center;
}

.success-title {
  font-size: 38px;
  text-align: center;
  color: #3e3e3e;
  margin: 40px 0;
}

.success-link {
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #2743e6;

  svg {
    margin-right: 20px;
  }
}

@media (min-width: $large-screen) {
  .main-section {
    height: 500px;
    margin-bottom: 200px;

    .container, .row, .col {
      height: 100%;
    }

    .col {
      position: relative;
    }
  }

  .main-section-block {
    position: absolute;
    right: 0;
    bottom: -150px;
    width: 60%;

    .inner-block {
      background-color: #1a2b6d;
      color: #fff;
      padding: 42px 42px 60px;
      text-align: left;

      h1 {
        margin: 0 0 40px;
        font-weight: 400;
      }

      p {
        font-size: 18px;
        padding-left: 45%;
        position: relative;
        margin: 0;

        &::before {
          content: '';
          width: 40%;
          height: 2px;
          background-color: #fff;
          position: absolute;
          left: 0;
          top: 14px;
        }
      }
      //margin-bottom: 20px;
    }

    .btn {
      float: left;
      //margin-right: 20px;
      margin-top: 40px;
      position: relative;
      z-index: 2;
      left: 0;
      transform: none;
      bottom: 0;
    }
  }
}

@media (min-width: $xlarge-screen) {
  .main-section-block {
    width: 50%;
  }
}