@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans/open-sans-300.woff2") format("woff2"), url("../fonts/open-sans/open-sans-300.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/open-sans/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-regular.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/open-sans/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans/open-sans-600.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans/open-sans-700.woff2") format("woff2"), url("../fonts/open-sans/open-sans-700.woff") format("woff"); }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0 none; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

h2 {
  margin: 0.83em 0;
  font-size: 1.5em; }

h3 {
  margin: 1em 0;
  font-size: 1.25em; }

h4 {
  margin: 1.33em 0;
  font-size: 1em; }

h5 {
  margin: 1.67em 0;
  font-size: 0.875em; }

h6 {
  margin: 2.33em 0;
  font-size: 0.75em; }

abbr[title] {
  border-bottom: .1rem dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }
  q::before, q::after {
    content: '';
    content: none; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  margin: 0 .2rem;
  padding: .35em .625em .75em;
  border: 0.1rem solid #c0c0c0; }

legend {
  padding: 0;
  border: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0; }

button,
select {
  text-transform: none; }

html input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin: 0;
  padding: 0; }
  dl dd {
    margin-left: 1em; }

.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  background: #ececec;
  color: #000; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

html {
  font-size: 62.5%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 1.6rem;
  line-height: 1.25;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 400; }
  @media (min-width: 768px) {
    body {
      font-size: 1.6rem;
      line-height: 1.375; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 700; }

h1 {
  font-size: 3.2rem;
  line-height: 1.25;
  margin-top: 0.9375em;
  margin-bottom: 0.3125em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 1.125; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4.8rem;
      line-height: 1.05; } }
  @media (min-width: 768px) {
    h1 {
      margin-top: 0.825em;
      margin-bottom: 0.275em; } }
  @media (min-width: 1200px) {
    h1 {
      margin-top: 0.6875em;
      margin-bottom: 0.22917em; } }

h2 {
  font-size: 2.6rem;
  line-height: 1.15385;
  margin-top: 1.15385em;
  margin-bottom: 0.38462em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.2rem;
      line-height: 1.25; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 3.6rem; } }
  @media (min-width: 768px) {
    h2 {
      margin-top: 1.03125em;
      margin-bottom: 0.34375em; } }

h3 {
  font-size: 2.2rem;
  line-height: 1.13636;
  margin-top: 1.36364em;
  margin-bottom: 0.45455em; }
  @media (min-width: 768px) {
    h3 {
      font-size: 2.4rem;
      line-height: 1.25; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 2.8rem; } }
  @media (min-width: 768px) {
    h3 {
      margin-top: 1.375em;
      margin-bottom: 0.45833em; } }

h4 {
  font-size: 1.8rem;
  line-height: 1.11111;
  margin-top: 1.66667em;
  margin-bottom: 0.55556em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.8rem;
      line-height: 1.22222; } }
  @media (min-width: 768px) {
    h4 {
      margin-top: 1.83333em;
      margin-bottom: 0.61111em; } }

h5 {
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 1.875em;
  margin-bottom: 0.625em; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.6rem;
      line-height: 1.375; } }
  @media (min-width: 768px) {
    h5 {
      margin-top: 2.0625em;
      margin-bottom: 0.6875em; } }

h6 {
  font-size: 1.4rem;
  line-height: 1.42857;
  margin-top: 2.14286em;
  margin-bottom: 0.71429em; }
  @media (min-width: 768px) {
    h6 {
      font-size: 1.4rem;
      line-height: 1.57143; } }
  @media (min-width: 768px) {
    h6 {
      margin-top: 2.35714em;
      margin-bottom: 0.78571em; } }

q,
blockquote {
  font-size: 2rem;
  line-height: 1.25; }
  @media (min-width: 768px) {
    q,
    blockquote {
      font-size: 2.4rem;
      line-height: 1.45833; } }

.container, .container-full {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

body {
  margin: 0;
  padding: 0; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

@media (min-width: 544px) {
  .container {
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    max-width: 80rem; } }

@media (min-width: 1024px) {
  .container {
    max-width: 102rem; } }

@media (min-width: 1200px) {
  .container {
    max-width: 120rem; } }

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem; }
  .row-reverse {
    flex-direction: row-reverse; }

.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  .col-flex {
    display: flex;
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    .col-flex.reverse {
      flex-direction: column-reverse; }

@media (max-width: 543px) {
  .container {
    padding-right: 1.2rem;
    padding-left: 1.2rem; }
    .container-full {
      padding-right: 1.2rem;
      padding-left: 1.2rem; }
  .row {
    margin-right: -1.2rem;
    margin-left: -1.2rem; }
  .col {
    padding-right: 1.2rem;
    padding-left: 1.2rem; } }

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.xs-offset-0 {
  margin-left: 0; }

.xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.xs-offset-1 {
  margin-left: 8.33333%; }

.xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.xs-offset-2 {
  margin-left: 16.66667%; }

.xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.xs-offset-3 {
  margin-left: 25%; }

.xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.xs-offset-4 {
  margin-left: 33.33333%; }

.xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.xs-offset-5 {
  margin-left: 41.66667%; }

.xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.xs-offset-6 {
  margin-left: 50%; }

.xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.xs-offset-7 {
  margin-left: 58.33333%; }

.xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.xs-offset-8 {
  margin-left: 66.66667%; }

.xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.xs-offset-9 {
  margin-left: 75%; }

.xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.xs-offset-10 {
  margin-left: 83.33333%; }

.xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.xs-offset-11 {
  margin-left: 91.66667%; }

.xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.xs-offset-12 {
  margin-left: 100%; }

.start-xs {
  justify-content: flex-start;
  text-align: start; }

.end-xs {
  justify-content: flex-end;
  text-align: end; }

.around-xs {
  justify-content: space-around; }

.between-xs {
  justify-content: space-between; }

.center-xs {
  justify-content: center;
  text-align: center; }

.top-xs {
  align-items: flex-start; }

.middle-xs {
  align-items: center; }

.bottom-xs {
  align-items: flex-end; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media screen and (min-width: 544px) {
  .col-s {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .s-offset-0 {
    margin-left: 0; }
  .s-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .s-offset-1 {
    margin-left: 8.33333%; }
  .s-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .s-offset-2 {
    margin-left: 16.66667%; }
  .s-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .s-offset-3 {
    margin-left: 25%; }
  .s-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .s-offset-4 {
    margin-left: 33.33333%; }
  .s-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .s-offset-5 {
    margin-left: 41.66667%; }
  .s-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .s-offset-6 {
    margin-left: 50%; }
  .s-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .s-offset-7 {
    margin-left: 58.33333%; }
  .s-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .s-offset-8 {
    margin-left: 66.66667%; }
  .s-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .s-offset-9 {
    margin-left: 75%; }
  .s-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .s-offset-10 {
    margin-left: 83.33333%; }
  .s-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .s-offset-11 {
    margin-left: 91.66667%; }
  .s-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .s-offset-12 {
    margin-left: 100%; }
  .start-s {
    justify-content: flex-start;
    text-align: start; }
  .end-s {
    justify-content: flex-end;
    text-align: end; }
  .around-s {
    justify-content: space-around; }
  .between-s {
    justify-content: space-between; }
  .center-s {
    justify-content: center; }
  .top-s {
    align-items: flex-start; }
  .middle-s {
    align-items: center; }
  .bottom-s {
    align-items: flex-end; }
  .first-s {
    order: -1; }
  .last-s {
    order: 1; } }

@media screen and (min-width: 768px) {
  .col-m {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .m-offset-0 {
    margin-left: 0; }
  .m-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .m-offset-1 {
    margin-left: 8.33333%; }
  .m-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .m-offset-2 {
    margin-left: 16.66667%; }
  .m-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .m-offset-3 {
    margin-left: 25%; }
  .m-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .m-offset-4 {
    margin-left: 33.33333%; }
  .m-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .m-offset-5 {
    margin-left: 41.66667%; }
  .m-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .m-offset-6 {
    margin-left: 50%; }
  .m-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .m-offset-7 {
    margin-left: 58.33333%; }
  .m-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .m-offset-8 {
    margin-left: 66.66667%; }
  .m-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .m-offset-9 {
    margin-left: 75%; }
  .m-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .m-offset-10 {
    margin-left: 83.33333%; }
  .m-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .m-offset-11 {
    margin-left: 91.66667%; }
  .m-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .m-offset-12 {
    margin-left: 100%; }
  .start-m {
    justify-content: flex-start;
    text-align: start; }
  .end-m {
    justify-content: flex-end;
    text-align: end; }
  .around-m {
    justify-content: space-around; }
  .between-m {
    justify-content: space-between; }
  .center-m {
    justify-content: center; }
  .top-m {
    align-items: flex-start; }
  .middle-m {
    align-items: center; }
  .bottom-m {
    align-items: flex-end; }
  .first-m {
    order: -1; }
  .last-m {
    order: 1; } }

@media screen and (min-width: 1024px) {
  .col-l {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .l-offset-0 {
    margin-left: 0; }
  .l-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .l-offset-1 {
    margin-left: 8.33333%; }
  .l-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .l-offset-2 {
    margin-left: 16.66667%; }
  .l-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .l-offset-3 {
    margin-left: 25%; }
  .l-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .l-offset-4 {
    margin-left: 33.33333%; }
  .l-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .l-offset-5 {
    margin-left: 41.66667%; }
  .l-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .l-offset-6 {
    margin-left: 50%; }
  .l-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .l-offset-7 {
    margin-left: 58.33333%; }
  .l-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .l-offset-8 {
    margin-left: 66.66667%; }
  .l-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .l-offset-9 {
    margin-left: 75%; }
  .l-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .l-offset-10 {
    margin-left: 83.33333%; }
  .l-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .l-offset-11 {
    margin-left: 91.66667%; }
  .l-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .l-offset-12 {
    margin-left: 100%; }
  .start-l {
    justify-content: flex-start;
    text-align: start; }
  .end-l {
    justify-content: flex-end;
    text-align: end; }
  .around-l {
    justify-content: space-around; }
  .between-l {
    justify-content: space-between; }
  .center-l {
    justify-content: center; }
  .top-l {
    align-items: flex-start; }
  .middle-l {
    align-items: center; }
  .bottom-l {
    align-items: flex-end; }
  .first-l {
    order: -1; }
  .last-l {
    order: 1; } }

@media screen and (min-width: 1200px) {
  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .xl-offset-0 {
    margin-left: 0; }
  .xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .xl-offset-1 {
    margin-left: 8.33333%; }
  .xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .xl-offset-2 {
    margin-left: 16.66667%; }
  .xl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .xl-offset-3 {
    margin-left: 25%; }
  .xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .xl-offset-4 {
    margin-left: 33.33333%; }
  .xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .xl-offset-5 {
    margin-left: 41.66667%; }
  .xl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .xl-offset-6 {
    margin-left: 50%; }
  .xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .xl-offset-7 {
    margin-left: 58.33333%; }
  .xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .xl-offset-8 {
    margin-left: 66.66667%; }
  .xl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .xl-offset-9 {
    margin-left: 75%; }
  .xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .xl-offset-10 {
    margin-left: 83.33333%; }
  .xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .xl-offset-11 {
    margin-left: 91.66667%; }
  .xl-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .xl-offset-12 {
    margin-left: 100%; }
  .start-xl {
    justify-content: flex-start;
    text-align: start; }
  .end-xl {
    justify-content: flex-end;
    text-align: end; }
  .around-xl {
    justify-content: space-around; }
  .between-xl {
    justify-content: space-between; }
  .center-xl {
    justify-content: center; }
  .top-xl {
    align-items: flex-start; }
  .middle-xl {
    align-items: center; }
  .bottom-xl {
    align-items: flex-end; }
  .first-xl {
    order: -1; }
  .last-xl {
    order: 1; } }

html {
  position: relative;
  min-height: 100%;
  overflow: hidden; }
  html body {
    height: 100%;
    min-height: .1rem; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; }

.flex {
  display: flex; }
  .flex.space-between {
    justify-content: space-between; }

.error {
  color: #a90000; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  transition: all 0.2s ease-out; }

.icon-process {
  width: 3rem;
  height: 3rem;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-243%20246%2024.2%2022%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M-223.5%20264.6c-2%202-4.8%203.1-7.6%203.1s-5.6-1.1-7.6-3.1c-1.6-1.6-2.6-3.7-2.9-5.9l3.1-.5c.3%201.6%201.1%203%202.2%204.2%203%202.9%207.8%202.9%2010.8%200l-3.3-3.3%209.9-1.1-1.2%209.9-3.4-3.3zm-18.4-18.6l3.4%203.4c4.3-4.2%2011.1-4.2%2015.3%200%201.6%201.6%202.6%203.7%202.9%205.9l-3.1.5c-.3-1.6-1.1-3-2.2-4.2-3-2.9-7.8-2.9-10.8%200l3.3%203.3-9.9%201.1%201.1-10z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E"); }

.icon-search {
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-10625%20-5573%2020%2020.084%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpath%20d%3D%22M-10605-5554.849l-5.21-5.21a8%208%200%200%200%201.6-4.79%208.256%208.256%200%201%200-3.613%206.723l5.21%205.21zm-17.563-10a5.8%205.8%200%201%201%205.8%205.8%205.81%205.81%200%200%201-5.8-5.8z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E"); }

.ac-block {
  max-height: 0;
  overflow: hidden;
  transition: all .6s ease-in; }

.ac-label {
  position: relative;
  display: block;
  padding: .2rem 1rem;
  border-radius: .6rem;
  background-color: #d8d8d8;
  cursor: pointer; }

.ac-arrow {
  position: absolute;
  display: block;
  top: 50%;
  right: .3rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: #ff6f0e;
  vertical-align: middle;
  transform: translateY(-50%);
  transition: all 0.2s ease-out; }
  .ac-arrow::before {
    position: absolute;
    content: '';
    display: block;
    top: .5rem;
    left: .7rem;
    width: .8rem;
    height: .8rem;
    border-right: 0.1rem solid #fff;
    border-bottom: 0.1rem solid #fff;
    transform: rotate(45deg); }

.ac-radio {
  position: absolute;
  opacity: 0;
  visibility: hidden; }
  .ac-radio:checked + .ac-label .ac-arrow {
    transform: translateY(-50%) rotate(90deg); }
  .ac-radio:checked ~ .ac-block {
    max-height: 80rem;
    transition: all .8s ease-out; }

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border-width: .1rem;
  border-style: solid;
  border-color: #808080;
  border-radius: .4rem;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  transition: all 0.2s ease-out;
  height: 38px;
  color: #fff; }
  input[type='tel']:focus,
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='number']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus,
  select:focus {
    border-color: #fff; }

textarea {
  resize: none; }

label {
  font-weight: 400; }

.dd {
  position: relative; }
  .dd-field {
    position: relative;
    max-width: 28rem;
    height: 3rem;
    padding: 0 3rem 0 1.1rem;
    border-width: .1rem;
    border-style: solid;
    border-color: #808080;
    border-radius: .4rem;
    outline: none;
    color: #c7c7c7;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease-out;
    user-select: none; }
    .dd-field::after {
      position: absolute;
      content: '';
      top: .7rem;
      right: 1.1rem;
      width: .9rem;
      height: .9rem;
      border-right: 0.1rem solid rgba(255, 255, 255, 0.7);
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.7);
      transform: rotate(45deg); }
    .dd-field.active {
      border-color: #fff;
      color: #fff; }
      .dd-field.active::after {
        top: 1.1rem;
        transform: rotate(224deg); }
      .dd-field.active + .dd-list-wrap {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
  .dd-list-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -.1rem;
    border-width: .1rem;
    border-style: solid;
    border-color: #808080;
    border-radius: .3rem;
    background-color: rgba(0, 0, 0, 0.82);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
    opacity: 0;
    visibility: hidden;
    transform: translateY(2.5rem);
    transition: all 0.2s ease-out;
    z-index: 2; }
  .dd-list {
    max-height: 28rem;
    padding: 1rem 0;
    overflow-y: auto; }
    .dd-list-item {
      position: relative;
      height: 3.6rem;
      color: #ccc;
      font-size: 1.5rem;
      line-height: 1.8rem;
      white-space: nowrap;
      cursor: pointer;
      transition: background-color 0.2s ease-out;
      user-select: none; }
      .dd-list-item:hover {
        background-color: #000;
        color: #fff; }
      .dd-list-item .check {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 1rem; }

.check {
  display: inline-block;
  cursor: pointer; }
  .check-input {
    position: absolute;
    opacity: 0;
    visibility: hidden; }
    .check-input:checked ~ .check-visual::before {
      opacity: 1;
      visibility: visible; }
  .check-visual {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: .6rem;
    overflow: hidden;
    vertical-align: bottom; }
    .check-visual::before {
      position: absolute;
      content: '';
      display: inline-block;
      top: .2rem;
      left: .1rem;
      width: 1.5rem;
      height: .7rem;
      border-bottom: 0.2rem solid #fff;
      border-left: 0.2rem solid #fff;
      opacity: 0;
      visibility: hidden;
      transform: rotate(-45deg);
      transition: opacity 0.2s ease-out; }

.search-input {
  color: #fff; }
  .search-input:focus {
    border-color: #fff; }
    .search-input:focus + .icon {
      opacity: .8; }

.search-input-wrap {
  position: relative; }
  .search-input-wrap .icon {
    position: absolute;
    top: .5rem;
    right: .6rem;
    opacity: .4; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }

.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 1rem 1.6rem;
  border: 0 none;
    border-width: .1rem;
    border-style: solid;
    border-color: transparent;
  outline: none 0;
  background-color: transparent;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.2s ease-out 0s;
  user-select: none; }
  .btn.close {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer; }
    .btn.close::before, .btn.close::after {
      position: absolute;
      content: '';
      display: block;
      top: .8rem;
      width: 100%;
      height: .2rem;
      background-color: #fff; }
    .btn.close::before {
      left: 0;
      transform: rotate(45deg); }
    .btn.close::after {
      right: 0;
      transform: rotate(-45deg); }
  .btn.white {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5rem; }
    .btn.white:hover {
      box-shadow: 0px 2px 6px 1px rgba(255, 255, 255, 0.2); }
  .btn.orange {
    color: #f07207;
    border: 1px solid #f07207;
    border-radius: 5rem;
    box-shadow: 0px 2px 6px 1px rgba(255, 255, 255, 0.2); }
    .btn.orange:hover {
      box-shadow: 0px 3px 8px 2px rgba(255, 255, 255, 0.3); }
  .btn.large {
    border-width: 2px;
    padding: 2rem 2.4rem;
    font-weight: 600;
    font-size: 1.8rem; }

.btn-block {
  display: flex;
  align-items: center; }
  .btn-block.align-center {
    justify-content: center; }
  .btn-block .btn + .btn {
    margin-left: 1rem; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  transition: all 0.2s ease-out;
  z-index: 1000; }
  .popup.open {
    opacity: 1;
    visibility: visible;
    transform: none; }
    .popup.open .popup-wrap {
      transform: none; }
  .popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1040; }
  .popup-wrap {
    position: relative;
    max-width: 72rem;
    margin: auto;
    border-radius: 8px;
    background-color: #1a2b6d;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.24);
    transform: translateY(-5rem);
    transition: all 0.2s ease-out;
    z-index: 1050; }
  .popup-body {
    padding: 1.5rem 1.5rem 40px;
    overflow-y: auto;
    color: #fff;
    text-align: center; }
    .popup-body .form-section {
      max-width: 320px;
      margin: 0 auto; }
      .popup-body .form-section input {
        margin: 10px 0; }
      .popup-body .form-section button {
        margin-top: 20px;
        width: 100%; }
  .popup .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1.6rem;
    height: 1.6rem;
    opacity: .4; }
    .popup .close:hover {
      opacity: .8; }

@media (min-width: 767px) {
  .popup {
    padding-top: 4rem; } }

.main-content {
  overflow: auto; }

.main-section {
  height: 350px;
  margin-bottom: 200px;
  background-image: url("../images/vizapol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .main-section .container, .main-section .row, .main-section .col {
    height: 100%; }
  .main-section .col {
    position: relative; }

.main-section-block {
  position: absolute;
  right: 5%;
  bottom: -100px;
  width: 90%; }
  .main-section-block .inner-block {
    background-color: #1a2b6d;
    color: #fff;
    padding: 42px 20px 110px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.23); }
    .main-section-block .inner-block h1 {
      margin: 0 0 20px;
      font-weight: 400; }
    .main-section-block .inner-block p {
      font-size: 16px;
      position: relative;
      margin: 0; }
  .main-section-block .btn {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }

.how-take {
  position: relative;
  padding: 60px 16px; }
  .how-take h2 {
    color: #fff;
    margin: 0 0 60px; }
  .how-take::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1a2b6d;
    height: 350px; }
  .how-take .container {
    position: relative;
    z-index: 2; }
  .how-take .col-flex {
    margin-bottom: 30px; }
  .how-take .block-step {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    color: #1a2b6d;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px; }
    .how-take .block-step .badge {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: white;
      width: 50px;
      height: 50px;
      transform: translate(-30%, -30%);
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }

.what-need {
  position: relative;
  padding: 60px 16px;
  text-align: center;
  overflow: hidden; }
  .what-need h2 {
    color: #fff;
    margin: 0 0 30px; }
  .what-need .description {
    color: #fff;
    font-size: 18px;
    margin: 0 0 60px; }
  .what-need::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1a2b6d;
    height: 350px; }
  .what-need .container {
    position: relative;
    z-index: 2; }
  .what-need .col-flex {
    margin-bottom: 30px; }
  .what-need .block-step {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    color: #1a2b6d;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px; }
    .what-need .block-step h3 {
      margin-bottom: 40px; }
    .what-need .block-step .badge {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: white;
      width: 50px;
      height: 50px;
      transform: translate(-30%, -30%);
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .what-need .img-wrap {
    position: relative; }
    .what-need .img-wrap img {
      width: 100%; }
  .what-need .btn-block {
    display: inline-block;
    position: relative;
    padding-top: 40px; }
  .what-need .arrow {
    width: 100px;
    height: 100px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    left: 100%;
    margin-left: 40px; }

.why-we {
  margin-bottom: 100px; }
  .why-we h2 {
    margin: 0 0 60px; }
  .why-we .col {
    margin-bottom: 30px; }
  .why-we .block {
    text-align: center;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    height: 100%;
    background-color: #fff;
    padding: 40px 20px 60px;
    border-radius: 8px; }
    .why-we .block h3 {
      font-weight: 400; }

.price {
  position: relative;
  padding: 60px 16px; }
  .price h2 {
    color: #fff;
    margin: 0 0 60px; }
  .price::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1a2b6d;
    height: 350px; }
  .price .container {
    position: relative;
    z-index: 2; }
  .price .col {
    margin-bottom: 30px; }
  .price .block {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    color: #1a2b6d;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column; }
    .price .block h3 {
      margin: 0 0 20px; }
    .price .block p {
      font-size: 18px; }
    .price .block table {
      width: 100%;
      margin: 40px 0 40px; }
      .price .block table th {
        text-align: left; }
      .price .block table td, .price .block table th {
        padding: 5px; }
    .price .block ul {
      list-style: decimal;
      padding-left: 1em;
      flex-grow: 1; }
      .price .block ul li + li {
        margin-top: 8px; }
    .price .block .btn {
      margin: 0 auto;
      padding: 20px 40px; }

.main-footer {
  margin-top: 200px;
  background-color: #fff; }
  .main-footer .footer-form {
    background-color: #1a2b6d;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #fff;
    top: -150px;
    padding: 40px 40px 60px;
    border-radius: 8px; }
  .main-footer .footer-inner {
    padding: 40px 0; }
    .main-footer .footer-inner h2 {
      margin: 0 0 20px; }
    .main-footer .footer-inner p {
      font-size: 18px; }
  .main-footer .copyright {
    margin: 20px 0 0;
    text-align: center; }
  .main-footer .form-section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main-footer .form-section input {
      max-width: 300px;
      margin: 10px 0; }
    .main-footer .form-section .btn {
      margin: 10px 10px; }

@media (min-width: 1024px) {
  .main-section {
    height: 500px;
    margin-bottom: 200px; }
    .main-section .container, .main-section .row, .main-section .col {
      height: 100%; }
    .main-section .col {
      position: relative; }
  .main-section-block {
    position: absolute;
    right: 0;
    bottom: -150px;
    width: 60%; }
    .main-section-block .inner-block {
      background-color: #1a2b6d;
      color: #fff;
      padding: 42px 42px 60px;
      text-align: left; }
      .main-section-block .inner-block h1 {
        margin: 0 0 40px;
        font-weight: 400; }
      .main-section-block .inner-block p {
        font-size: 18px;
        padding-left: 45%;
        position: relative;
        margin: 0; }
        .main-section-block .inner-block p::before {
          content: '';
          width: 40%;
          height: 2px;
          background-color: #fff;
          position: absolute;
          left: 0;
          top: 14px; }
    .main-section-block .btn {
      float: left;
      margin-top: 40px;
      position: relative;
      z-index: 2;
      left: 0;
      transform: none;
      bottom: 0; } }

@media (min-width: 1200px) {
  .main-section-block {
    width: 50%; } }

.loader {
  position: fixed;
  display: flex;
  top: 7rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85); }
  .loader-img {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: auto; }

.logo {
  color: #f6ac00;
  font-size: 32px;
  margin: 10px 0; }
  .logo span {
    color: #fff; }

.main-header {
  flex-shrink: 0;
  width: 100%;
  background-color: #1a2b6d;
  color: #fff;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
  z-index: 10; }
  .main-header-wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap; }
  .main-header .phone {
    margin: 10px 16px; }
    .main-header .phone-wrap {
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }

.details-head {
  margin-bottom: 2rem;
  padding-right: 2.6rem; }

.details-title {
  margin: 0; }

.details-img-wrap {
  float: left;
  height: 18rem;
  margin-right: 1.5rem; }

.details-img {
  width: auto;
  height: 100%; }

.details-info {
  margin: 0;
  color: #202020;
  font-size: 1.3rem; }
  .details-info.list + .details-info.list {
    margin-top: 0;
    margin-left: 1em; }
  .details-info + .details-info {
    margin-top: .5em; }

.details-info-title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700; }

.details-info-label {
  color: #000;
  font-weight: 600; }

.details-info-block + .details-info-block {
  margin-top: 2rem; }
  .details-info-block + .details-info-block.low-margin {
    margin-top: 1rem; }

.details .ac-block {
  padding-left: 1rem; }

@media (min-width: 543px) {
  .details-info {
    font-size: 1.5rem; }
    .details-info-title {
      font-size: 1.8rem; } }

@media (min-width: 767px) {
  .details-img-wrap {
    height: 22rem;
    margin-right: 2rem; }
  .details-info {
    font-size: 1.6rem; }
  .details-info-title {
    font-size: 2rem; }
  .details-info-block + .details-info-block {
    margin-top: 2.6rem; }
  .details .ac-block {
    padding: 0 2rem; } }

.hide {
  display: none !important; }
  @media (max-width: 543px) {
    .hide-xs {
      display: none !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .hide-s {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hide-m {
      display: none !important; } }
  @media (min-width: 1024px) and (max-width: 1199px) {
    .hide-l {
      display: none !important; } }
  @media (min-width: 1200px) {
    .hide-xl {
      display: none !important; } }

.show {
  display: block !important; }
  .show-xs, .show-s, .show-m, .show-l, .show-xl {
    display: none !important; }
  @media (max-width: 543px) {
    .show-xs {
      display: block !important; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .show-s {
      display: block !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .show-m {
      display: block !important; } }
  @media (min-width: 1024px) and (max-width: 1199px) {
    .show-l {
      display: block !important; } }
  @media (min-width: 1200px) {
    .show-xl {
      display: block !important; } }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.overflow-hidden {
  overflow: hidden !important; }

.overflow-auto {
  overflow: auto !important; }

/*# sourceMappingURL=styles.css.map */
